body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --logo-color: #B6020F;
  --login-form-bg: hsl(0 0% 100% / 0.92);
  --fweight: 600;
  --placeholdercolor: rgb(24, 23, 23);
}

button {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: var(--placeholdercolor);
  font-weight: var(--fweight);
}

:-moz-placeholder { /* Firefox */
  color: var(--placeholdercolor);
  font-weight: var(--fweight);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholdercolor);
  font-weight: var(--fweight);
}

:-ms-input-placeholder {  
  color: var(--placeholdercolor);
  font-weight: var(--fweight);
}
